UIElementsSchema/UnityMvvmToolkit.UITK.BindableUIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.UIElements" xmlns:engine="UnityEngine.UIElements" xmlns="UnityEditor.Overlays" elementFormDefault="qualified" targetNamespace="UnityMvvmToolkit.UITK.BindableUIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="BindableButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="" name="binding-path" type="xs:string" use="optional" />
        <xs:attribute default="" name="text" type="xs:string" use="optional" />
        <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional" />
        <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="command" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableButton" substitutionGroup="engine:VisualElement" xmlns:q1="UnityMvvmToolkit.UITK.BindableUIElements" type="q1:BindableButtonType" />
  <xs:complexType name="BindableLabelType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="" name="binding-path" type="xs:string" use="optional" />
        <xs:attribute default="" name="text" type="xs:string" use="optional" />
        <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="binding-text-path" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableLabel" substitutionGroup="engine:VisualElement" xmlns:q2="UnityMvvmToolkit.UITK.BindableUIElements" type="q2:BindableLabelType" />
  <xs:simpleType name="BindableListView_virtualization-method_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FixedHeight" />
      <xs:enumeration value="DynamicHeight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableListView_selection-type_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="Multiple" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableListView_show-alternating-row-backgrounds_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ContentOnly" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableListView_reorder-mode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simple" />
      <xs:enumeration value="Animated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BindableListViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="" name="binding-path" type="xs:string" use="optional" />
        <xs:attribute default="30" name="fixed-item-height" type="xs:int" use="optional" />
        <xs:attribute default="FixedHeight" name="virtualization-method" xmlns:q3="UnityMvvmToolkit.UITK.BindableUIElements" type="q3:BindableListView_virtualization-method_Type" use="optional" />
        <xs:attribute default="false" name="show-border" type="xs:boolean" use="optional" />
        <xs:attribute default="Single" name="selection-type" xmlns:q4="UnityMvvmToolkit.UITK.BindableUIElements" type="q4:BindableListView_selection-type_Type" use="optional" />
        <xs:attribute default="None" name="show-alternating-row-backgrounds" xmlns:q5="UnityMvvmToolkit.UITK.BindableUIElements" type="q5:BindableListView_show-alternating-row-backgrounds_Type" use="optional" />
        <xs:attribute default="false" name="show-foldout-header" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="header-title" type="xs:string" use="optional" />
        <xs:attribute default="false" name="show-add-remove-footer" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="reorderable" type="xs:boolean" use="optional" />
        <xs:attribute default="Simple" name="reorder-mode" xmlns:q6="UnityMvvmToolkit.UITK.BindableUIElements" type="q6:BindableListView_reorder-mode_Type" use="optional" />
        <xs:attribute default="true" name="show-bound-collection-size" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="horizontal-scrolling" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="binding-items-source-path" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableListView" substitutionGroup="engine:VisualElement" xmlns:q7="UnityMvvmToolkit.UITK.BindableUIElements" type="q7:BindableListViewType" />
  <xs:simpleType name="BindableScrollView_mode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="VerticalAndHorizontal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableScrollView_nested-interaction-kind_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="StopScrolling" />
      <xs:enumeration value="ForwardScrolling" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableScrollView_horizontal-scroller-visibility_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="AlwaysVisible" />
      <xs:enumeration value="Hidden" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableScrollView_vertical-scroller-visibility_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="AlwaysVisible" />
      <xs:enumeration value="Hidden" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindableScrollView_touch-scroll-type_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unrestricted" />
      <xs:enumeration value="Elastic" />
      <xs:enumeration value="Clamped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BindableScrollViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="engine:VisualElement" />
        </xs:sequence>
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="Vertical" name="mode" xmlns:q8="UnityMvvmToolkit.UITK.BindableUIElements" type="q8:BindableScrollView_mode_Type" use="optional" />
        <xs:attribute default="Default" name="nested-interaction-kind" xmlns:q9="UnityMvvmToolkit.UITK.BindableUIElements" type="q9:BindableScrollView_nested-interaction-kind_Type" use="optional" />
        <xs:attribute default="false" name="show-horizontal-scroller" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="show-vertical-scroller" type="xs:boolean" use="optional" />
        <xs:attribute default="Auto" name="horizontal-scroller-visibility" xmlns:q10="UnityMvvmToolkit.UITK.BindableUIElements" type="q10:BindableScrollView_horizontal-scroller-visibility_Type" use="optional" />
        <xs:attribute default="Auto" name="vertical-scroller-visibility" xmlns:q11="UnityMvvmToolkit.UITK.BindableUIElements" type="q11:BindableScrollView_vertical-scroller-visibility_Type" use="optional" />
        <xs:attribute default="-1" name="horizontal-page-size" type="xs:float" use="optional" />
        <xs:attribute default="-1" name="vertical-page-size" type="xs:float" use="optional" />
        <xs:attribute default="Clamped" name="touch-scroll-type" xmlns:q12="UnityMvvmToolkit.UITK.BindableUIElements" type="q12:BindableScrollView_touch-scroll-type_Type" use="optional" />
        <xs:attribute default="0.135" name="scroll-deceleration-rate" type="xs:float" use="optional" />
        <xs:attribute default="0.1" name="elasticity" type="xs:float" use="optional" />
        <xs:attribute default="" name="binding-items-source-path" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableScrollView" substitutionGroup="engine:VisualElement" xmlns:q13="UnityMvvmToolkit.UITK.BindableUIElements" type="q13:BindableScrollViewType" />
  <xs:complexType name="BindableTextFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="engine:VisualElement" />
        </xs:sequence>
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="" name="binding-path" type="xs:string" use="optional" />
        <xs:attribute default="" name="label" type="xs:string" use="optional" />
        <xs:attribute default="" name="value" type="xs:string" use="optional" />
        <xs:attribute default="-1" name="max-length" type="xs:int" use="optional" />
        <xs:attribute default="false" name="password" type="xs:boolean" use="optional" />
        <xs:attribute default="*" name="mask-character" type="xs:string" use="optional" />
        <xs:attribute default="" name="text" type="xs:string" use="optional" />
        <xs:attribute default="false" name="readonly" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="is-delayed" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="multiline" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="binding-value-path" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableTextField" substitutionGroup="engine:VisualElement" xmlns:q14="UnityMvvmToolkit.UITK.BindableUIElements" type="q14:BindableTextFieldType" />
</xs:schema>